/* color logo oscuro #276852 */
/* color logo claro #3ca48b */
html {
  scroll-behavior: smooth;
}
p {
  color: #276852;
}
a{
  cursor: pointer;
}
.hero {
  background-image: url(../img/banner-web.jpg);
  max-height: 150px;
  padding: 40px 0;
  margin-top: 0px;
}
a.hero-brand {
  margin-bottom: 45px;
}
h1 {
  color: #fff;
}
h2 {
  color: #276852;
}
img {
  max-width: 100%;
}
#header {
  background: rgba(40, 158, 133, .75);
  width: 100%!important;
}
.index .cuerpo{
  padding: 25px 0;
}
.stats-col .circle {
  border: 6px solid #276852;
  line-height: 1.4;
}
.stats-col .circle .stats-no {
  background-color: #3ca48b;
}
.cuerpo.container h2{
  margin-bottom: 20px;
}
.form {
  max-width: 750px;
  margin: auto;
}
.nav-menu li:hover a:not([href]) {
  background-color: rgba(40, 158, 133, .3);
}
.nav-menu a:not([href]) {
  color: #fff;
  cursor: pointer;
  padding: 24px 20px;
}
.nav-menu li:hover a:not([href]) {
  color: #276852;
}
.nav-menu a {
  font-weight: 700;
}
.nav-menu a.activo {
  color: #276852
}
.nav-menu a.activo:after {
  content: '';
  border-bottom: 2px solid #276852;
  position: absolute;
  width: calc(100% - 40px);
  left: 20px;
  bottom: 22px;
}
.nav-menu a i {
    font-size: 20px;
}

/* Portfolio */
.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolio-grid > div {
  flex-grow: 1;
  padding: 15px;
}
.portfolio-grid > div .card .portfolio-over .card-title {
  font-size: 24px;
  margin-bottom: 0;
}
.card.card-block {
  border: 1px solid #3ca48b;
  height: 100%;
}
.card.card-block a {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: .6s;
}
.card.card-block a:hover {
  color: #fff;
  opacity: .8;
}

/* Presupuesto */
input[type=submit] {
  color: white;
  background-color: #5eb6a4;
  font-weight: 600;
  margin: 1.5rem auto .5rem;
  width: auto;
}

/* Dónde estamos */
#mapa {
  z-index: 1;
  max-height: 500px;
  min-height: 320px;
}
.leaflet-popup-content {
  text-align: center;
}
.leaflet-routing-geocoder:nth-child(2) { /* Ocultar el campo hasta (el destino) */
    display: none;
}
/* Para que el marcador quede por encima de los de la ruta */
.leaflet-pane.leaflet-marker-pane img:nth-child(1) {
    z-index: 1000!important;
}
.leaflet-pane.leaflet-marker-pane img:nth-child(3) {
    z-index: 0!important;
}
button.leaflet-routing-add-waypoint { /* Ocultar el botón para no añadir más puntos a la ruta */
    display: none;
}

/* Contacto */
.justify-content-center {
  align-items: center;
}
.info>div {
  display: flex;
  justify-content: flex-start;
}
.info a {
  color: #276852;
}
.info i.fa {
  padding-right: 12px;
  width: 28px;
}
.foto-mapa {
  margin: 15px 0 25px;
  max-width: 100%;
}
form label {
    text-align: left;
    display: block;
    margin-top: 1rem;
}

/* Noticias */
div#noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.noticia {
  padding: 15px;
  margin-bottom: 25px;
  flex-basis: 33%;
  flex-grow: 1;
}
.foto {
  height: 100px;
}
.single .foto {
  height: 250px;
}
.foto img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.fecha {
  color: #fff;
  font-size: .9rem;
  line-height: 1.6;
  font-weight: 500;
  background-color: #3ca48b;
}
.single .fecha {
  background-color: unset;
  color: #3ca48b;
  text-align: right;
  border-top: 4px solid #3ca48b;
}
div.titular {
  color: #276852;
}
a.titular {
  color: #276852!important;
  cursor: pointer;
}
a.titular:hover {
  color: #3ca48b;
}
.encabezado {
    font-size: .85rem;
    line-height: 1.2;
}
.single a {
  color: #276852;
}

/* Proyectos (zona admin) */
.lista-proyectos ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 1em;
  border: 1px solid #3ca48b;
  display: flex;
  flex-wrap: wrap;
}
.lista-proyectos li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #3ca48b;
  flex-basis: 25%;
  min-width: 260px;
  flex-grow: 1;
}
.lista-proyectos li:not(:first-child) {
  border-top: none;
}
.lista-proyectos li:nth-child(even) {
  background-color: rgba(94, 182, 164, 0.15);
  flex-grow: 1.1;
}
.lista-proyectos li a i {
  color: #3ca48b;
  padding: 5px 8px;
}
.miniatura {
  max-width: 120px;
  height: 50px;
  padding: 0 10px;
}
.miniatura img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: top;
}
.centrar-form {
  text-align: center;
}
.centrar-form form {
  text-align: left;
  display: inline-block;
}

/* Usuarios (zona admin) */
.tabla-clientes table {
  margin: 1em auto;
  border: 1px solid #3ca48b;
}
.tabla-clientes tr {
  padding: 5px 10px;
  border: 1px solid #3ca48b;
}
.tabla-clientes th {
  font-weight: 600;
  color: #276852;
  background-color: rgba(40, 158, 133, .75);
  text-align: center;
  padding: 5px 10px;
}
.tabla-clientes td {
  padding: 5px 10px;
  border: 1px solid #3ca48b;
}
.tabla-clientes tr:nth-child(even) {
  background-color: rgba(94, 182, 164, 0.15);
}
.tabla-clientes a i {
  color: #3ca48b;
  padding: 5px 8px;
}

/* Area login */
section.area-login {
  text-align: center;
}
section.area-login p {
  margin-bottom: 0;
}
div#login form {
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}
#login .botones {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.botones button {
  flex-basis: calc(50% - 30px);
}

/* Area datos personales de usuario */
section.mi-cuenta {
  text-align: center;
}
section.mi-cuenta p {
  margin-bottom: 0;
}
form.datos-personales {
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

/* Footer */
.site-footer {
  background-color: rgba(40, 158, 133, .6);
}

.site-footer .bottom {
  background-color: rgba(40, 158, 133, .6);
}
.site-footer .credits a {
    color: #ddd;
    cursor: inherit;
}

/* Responsive */

@media (max-width: 767px) {
  .row{
    margin: auto;
  }
  .info {
    text-align: center;
  }
  .hero {
    height: auto;
  }
  body.index {
    padding-top: 70px;
  }
  #header {
    position: absolute;
    top: 0;
    width: 100%;
  }
}
